@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid container-lg d-flex flex-column justify-content-center align-items-center my-4">
    <h3 class="fw-bolder">No mission found</h3>
    <button class="btn btn-outline-warning custom_btn mt-4">
        <span class="">submit new mission </span>
        &nbsp; &nbsp;
        <img src="~/assets/right-arrow.png" alt="." />
    </button>
</div>
