@using CommunityInvestment.Entities.StoredProcModels
@model List<SpGetAllMissions>

<nav aria-label="story navigation pagination_page">
    <ul class="pagination justify-content-center ">
        <li class="page-item mx-sm-2">
            <a class="page-link text-dark pl" href="#" aria-label="Previous">
                <span aria-hidden="true"><i id="prev_two" class="bi bi-chevron-double-left"></i></span>
            </a>
        </li>
        <li class="page-item mx-sm-2 ">
            <a class="page-link text-dark pl" href="#" aria-label="Previous">
                <span aria-hidden="true"><i id="prev_one" class="bi bi-chevron-left"></i></span>
            </a>
        </li>

        @for (var i = 1; i <= Math.Ceiling((double)(@Model[0].TotalRows) / Model.Count); i++)
        {
            <li class="page-item mx-sm-2"><a class="page-link text-dark" href="#" id="pageIndex"@i >@i</a></li>
        }

        <li class="page-item mx-sm-2 ">
            <a class="page-link text-dark pl" href="#" aria-label="Next">
                <span aria-hidden="true"><i id="next_one" class="bi bi-chevron-right"></i></span>
            </a>
        </li>
        <li class="page-item mx-sm- 2 ">
            <a class="page-link text-dark pl" href="#" aria-label="Next">
                <span aria-hidden="true"><i id="next_two" class="bi bi-chevron-double-right"></i></span>
            </a>
        </li>
    </ul>
</nav>
