@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card nested_card">
                <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-2.png" class="card-img border-0 rounded-0" alt="...">
                <div class="card-img-overlay bg-dark bg-opacity-75 d-flex justify-content-center align-items-center d-none">
                    <button class="btn btn-outline-light rounded-pill ">View Details <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
            <div class="card-body position-relative">
                <p class="story_theme mb-0 mx-auto bg-white px-3 rounded-pill fw-light">Customer Experience</p>
                <h5 class="card-title fw-bolder my-2">10 User & Engagement strategy for 2022</h5>
                <p class="card-text" style="color:#757575">lorem ipsum emet jahn mofo darm gaxce lorem ipsum emet jahn mofo darm </p>
                <div class="card-text story_profile">
                    <img src="~/assets/volunteer1.png" class="rounded-circle" width="40px" alt="profile pic" />
                    <span class="ps-2 text-muted">Andrew Johnson</span>
                </div>
            </div>
        </div>
    </div>