@using CommunityInvestment.Models.ViewModels
@model SearchFilterHeaderModel;
@{
    ViewData["Title"] = "Home";
}


<div class="container-fluid custom_container">

    <header>
        <partial name="_TopHeader" />
        <hr class="m-auto" />
        @Html.Partial("_SearchFilterHeader",Model)

        <div class="container-fluid container-lg mission_cards " id="missionCardsWrapper">
            
        </div>

       
    </header>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/searchFilterHeader.js"></script>