@using CommunityInvestment.Models.ViewModels
@model SearchFilterHeaderModel;
@{
    ViewData["Title"] = "Home";
}


<div class="container-fluid custom_container">

    <header>

        <partial name="_TopHeader" />
        <hr class="m-auto" />
        @Html.Partial("_SearchFilterHeader",Model)


        @*if No mssion found*@
        @*if(false)
            {
            <div class="container-fluid container-lg d-flex flex-column justify-content-center align-items-center my-4">
            <h3 class="fw-bolder">No mission found</h3>
            <button class="btn btn-outline-warning custom_btn mt-4">
            <span class="">submit new mission </span>
            &nbsp; &nbsp;
            <img src="~/assets/right-arrow.png" alt="." />
            </button>
            </div>
            }*@
    </header>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/searchFilterHeader.js" ></script>
