@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid custom_container">
    
    <header>
        <partial name="_TopHeader" />
        <hr class="m-auto" />
        <partial name="_SearchFilterHeader" />  
        <hr class="m-auto" />
    </header>

</div>
