@{
    ViewData["Title"] = "Verify token";
}
<div class="container-fluid custom_container">
      <div class="row d-flex align-items-center content_wrapper">
               <partial name="_Slider" />
       </div>
       <div class="form_container col-xl-4 d-flex flex-column justify-content-center align-items-center mt-4">
            <div class="my-2 text-center">
            <h5><strong> New Password</strong></h5>
            <p>Please enter a new password in the fields below.</p>
          </div>
       </div>
</div>